extend layouts/main

block content
  .app-content.overlap
    .loader
      a(href="#").switcher
      //- черный фон с полосками
      .screen.glitch
        .text
          span(data-message='Loading').message Loading
          span.cursor
          span.cursor-mask
    .big-pictures
      img(src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="")
  
