extend layouts/main

block content
  .loader
    a(href="#").switcher

    //- черный фон с полосками
    .screen.glitch
      
      //- текст
      .clock.is-off 
        span(data-time='10:40:01').time 10:40:01
      
      //- треугольнички
      .figure
      .figure-mask
